modules = ["python-3.12"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start application"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "DISPLAY=:1 python turtle-main.py"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow]]
name = "Example 1 p 25"
mode = "sequential"
author = 49527123

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python example25.1.py"
