modules = ["python-3.12"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Вправа 24"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "DISPLAY=:1 python turtle-main.py"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow]]
name = "Example 1 p 25"
mode = "sequential"
author = 49527123

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python example25.1.py"

[[workflows.workflow]]
name = "Параграф 24 приклад 1"
mode = "sequential"
author = 49527123

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python example24.1.py"

[[workflows.workflow]]
name = "Параграф 24 приклад 2"
mode = "sequential"
author = 49527123

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python example24.2.py"

[[workflows.workflow]]
name = "Параграф 24 приклад 3"
mode = "sequential"
author = 49527123

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python example24.3.py"

[[workflows.workflow]]
name = "Вправа 24"
mode = "sequential"
author = 49527123

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python exercise24.py"
